/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2015, 4:35:01 PM
    Author     : Tahmina Khan
*/


/*Fonts*/

$orangeColor:#e96656;
$greenColor:#20AA73;
$blueColor:#3ab0e2;
$brownColor:#c09853;
$yellowColor:#f7d861;
$darkColor:#404040;

@import url(http://fonts.googleapis.com/css?family=Cantarell);

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple);


html {
  position: relative;
  min-height: 100%;
}

body{
    
    	font: 100% ;
        font-family: 'Cantarell', sans-serif;
        padding-top: 70px; 
        color: #333;
        //position: relative;
       // min-height: 100%;
   
}

/********Font Color*******/
.green-text{
    
    color:$greenColor;
}

.blue-text{
    
    color: $blueColor;
}

.brown-text{
    
    color: $brownColor;
}

.yellow-text {
	color: $yellowColor;
}
.orange-text{
    color: $orangeColor;
}
.dark-text {
	color: $darkColor;
}

/* PRE LOADER */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}
.status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

/************Customizing Navbar *********/
.navbar{
	min-width:320px;
}
	
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding: 0px;
}
.nav-map .nav > li > a {
    color:#a4a4a4;
    margin: 0;
    text-align:center;
	padding-left:20px;
	padding-right:20px;
        padding-top: 10px;
        padding-bottom: 5px;
        //border: solid #000
}

@media (max-width: 480px) {
    
    #main-nav {
         min-height: 50px;
    }
    
}

/*********Changing the nav style for Small devices */

@media(max-width:767px){
    
    .navbar-nav {
		padding-left: 10px;
		line-height: normal;
		text-align: center;
	}

	.navbar-nav>li {
		display: inline-block;
		margin-bottom: 0;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    .nav-map .nav > li > a {
    color:#a4a4a4;
    margin: 0;
    text-align:center;
	padding-left:15px;
	padding-right:15px;
        padding-top: 10px;
        padding-bottom: 5px;
        //border: solid #000;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

.nav-map .nav > li > a {
    color:#a4a4a4;
    margin: 0;
    text-align:center;
	padding-left:20px;
	padding-right:20px;
        padding-top: 10px;
        padding-bottom: 5px;
        //border: solid #000;
}

}

.nav-map .nav > li > a > span {
    display:block;
}

.nav-map .nav > li > a:hover, .nav-map .nav > li > a:focus, .nav-map .nav > li > a:active{
	color:$orangeColor;
	background-color:transparent;
	text-decoration:none;
	cursor:pointer;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}


.brand-text{
    
    font-size: 1.1em;
    font-weight: bold;
    color: $orangeColor;
}


.navba-link-text{
   
       font-size: 1.1em;
       

    
}
.navbar-link-text:active,.navbar-link-text:hover{
    color: $orangeColor;
    

    
}



/* Underline efects on navbar */
.navbar-nav> .active:before,.navbar-nav>li:hover:before{
    
    position: absolute;
	margin: auto;
	z-index: 1;
	content: "";
	width: 50%;
	height: 4px;
	background: $orangeColor;
	bottom: 0px;
	left: 25%;
}

.navbar-toggle {
	
	background-color: $orangeColor;
       
}



.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
	background-color: #e96656;
	filter: alpha(opacity=100);
	opacity: 1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #e96656;

}

.jumbotron {
	
	text-align:center;
        background-color: white;
        background-image: url('../images/ic1dX3kBQjGNaPQb8Xel_1920 x 1280.jpg');
}



/***** About Section Style ********/

#About{
    
    margin-bottom: 30px;
}

.title{
    background-color: #3ab0e2;
     // background-image: url('../images/ic1dX3kBQjGNaPQb8Xel_1920 x 1280.jpg');
}

.fill-screen{
    
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    
}

.titleWrapper{
border-bottom: none;
background: url('../images/flower02.png') #FFFFFF top center no-repeat;
background-size: 100% auto;
padding: 0;
color:#FFFFFF;
min-height: 115px;

background-attachment: fixed;

//border: solid 1px #333;
    
}

@media(max-width: 768px){
    .titleWrapper h1{
         font-size: 2em;
        
    }
    
    .titleWrapper h3{
         font-size: 1.8em;
        
    }
}


.titleWrapper h1{
    font-size: 4em;
    font-weight: bolder;
}



// For small phones like iphone

@media(max-width: 480px){
    
    .titleText{
       // border: solid 1px #333;
        font-size: 1.7em;
        
      
       margin: 10px;
       font-weight: bold;
        
    }
    
    
}


@media (min-width: 481px) and (max-width: 750px){
    
    
  .titleText{
        //border: solid 1px #333;
        font-size: 2em;
        
      
       margin: 10px;
       font-weight: bold;
        
    }
    
    .nameText{
        
       // border: solid 1px #333;
       width: 200px;
       
       font-size: 1.2em;
       
    }
}

@media (min-width: 751px){
    
    
  .titleText{
        //border: solid 1px #333;
        font-size: 2.4em;
        
      
       margin: 10px;
       font-weight: bold;
        
    }
    
    .nameText{
        
       // border: solid 1px #333;
       width: 250px;
       
       font-size: 1.8em;
       margin-top: 10px;
       margin-bottom: 15px;
       
    }
}

/* Contact Section */


#Contact input{
    
    margin-top: 20px;
}

#Contact textArea{
    
    margin-top: 20px;
}

.sendButton{
    
    margin-top: 10px;
}

/******Experience Customizing Timeline *********/

#timeline-embed .media-container .container{
    padding: 0px;
}

#timeline-embed .media-container p{
    color: #e96656;
    text-align: left;
    font-size: 0.9em;
   
    margin-bottom: 10px;
}

#timeline-embed h3{
    
    color: #3ab0e2;
    
}

.vco-storyjs .vco-feature p {
 
}


/****** Footer Style ******/

footer{
    
    margin-top: 30px;
    padding-top: 20px;
    //height: 200px;
  //  background-color: #FFFBFA;
    
   //position: absolute;
   
   //border: solid 1px;
   //position: absolute;
  bottom: 0;
  width: 100%;
  
}

@media(min-width:992px) and (min-height:650px){
    
  footer{
        //position: absolute;
        min-height: 200px;
        
    }
    
    
}
.footericon{
    
    width: 145px;
    height: 145px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #ececec;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
    
    
}

/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
.red,.green,.blue,.yellow {
	-webkit-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}
.red:hover .footericon{
	border: 10px solid #e96656;
}
.green:hover .footericon {
	border: 10px solid #34d293;
}
.blue:hover .footericon {
	border: 10px solid #3ab0e2;
}
.yellow:hover .footericon{
	border: 10px solid #f7d861;
}

.pixeden  {
    height: 80px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;
 

}

.twitter-icon{
    
    background: url('../images/Twitter.png') no-repeat;
      width:80px;
}

.github-icon{
    
    background: url('../images/github.png') no-repeat;
      width:75px;
}

.linkedin-icon{
     background: url('../images/linkedin01.png') no-repeat;
      width: 80px;
}
.download-icon{
     background: url('../images/download.png') no-repeat;
      width: 80px;
}



.addBorder{
    
    border: solid 1px;
}