<!--Start of Education Section   -->
        
            <section id="Education">
                
                    <div class="container-fluid">
                <div class="row titleWrapper wow bounceInDown " >
                    <div class="col-sm-12 text-center" >
                        <div class="titleText"><span>Software Developer</span></div>
                       
                        <div class="btn btn-success green"><span>Tahmina Khan</span></div>
                    </div>
                </div>

            </div>
                
            
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6 wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s"  style="">
                                    <p>&nbsp;</p>
                                    <p class="orange-text"><b>EDUCATION AND CREDENTIALS<b></p>
                                                <p> Bachelor of Computer Science – UNIVERSITY OF WINDSOR, Windsor, Ontario (2005)</P>
            
            
                                                <p class="orange-text"><b>Technical Certifications </b> </p>
                                                <p><i class="fa fa-certificate orange-text"></i> Sun Certified Programmer for the Java 2 platform, Standard Edition 5.0 (SCJP)</p>
                                                <p><i class="fa fa-certificate green-text"></i> Java Enterprise Edition 5 Web Component Developer Certified Professional</p>
            
            
                                                <p ><b class="orange-text">PUBLICATION </b></p>
            
                                                <p class="text-justify">
            
                                                    [co-authored] “Routing and Wavelength Assignment in Optical Mesh Networks with Wavelength Conversion,” Proceedings 25th IEEE International Performance Computing and Communications Conference/ IPCCC'06, Phoenix, Arizona, April 10 - 12, 2006.
            
                                                </p>
            
            
                                                </div>
                                                <div class="col-sm-3"></div>
            
                                                </div>
                                                </div>
                                                </section>
    <!--End of Education Section -->
