<footer id="footer" class="">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-3 col-sm-3 green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="1s" >

                      <div class="footericon">
                        <a href="https://twitter.com/tahminakh"><span class="pixeden twitter-icon"></span></a>
                    
                    </div>

                </div>
                <div class="col-lg-3 col-sm-3 blue wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="1s" >

                       <div class="footericon">
                        <a href="https://github.com/tahminak"><span class="pixeden github-icon"></span></a>
                    
                    </div>

                </div>
                <div class="col-lg-3 col-sm-3 red wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="1s"  style="">

                    <div class="footericon">
                        <a href="https:linkedin.com/in/khantahmina"><span class="pixeden linkedin-icon"></span></a>
                    
                    </div>
                    
                </div>
                <div class="col-lg-3 col-sm-3 yellow wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="1s"  style="">

                    <div class="footericon">
                        <a href="#"><span class="pixeden download-icon"></span></a>
                    
                    </div>
                    
                </div>
               
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <p class="text-center text-muted">&copy; 2015 Tahmina Khan</p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </footer>