  


 <!-- The Navigation Bar -->
        <header id="top">
            <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#top"><span class="brand-text">Tahmina Khan</span></h4></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navigationbar">

                        <div class="nav-map">
                            <ul class="nav navbar-nav" ng-controller="NavController">
                                <li ng-class="navClass('About')"><a href='#About'> <i class="fa fa-user fa-2x"></i><span class="navbar-link-text">About</span></a></li>
                                <li ng-class="navClass('Skills')"><a href='#Skills'><i class="fa fa-tasks fa-2x"></i><span class="navbar-link-text">Skills</span></a></li>
                                <li ng-class="navClass('Experience')"><a href='#Experience'Experience><i class="fa fa-briefcase fa-2x"></i><span class="navbar-link-text">Experience</span></a></li>
                                 <li ng-class="navClass('Education')" ><a href='#Education' ><i class="fa fa-graduation-cap fa-2x"></i><span class="navba-link-text">Education</span></a></li>
                           
                                <li ng-class="navClass('Portfolio')"><a href='#Portfolio'><i class="fa fa-newspaper-o fa-2x"></i><span class="navbar-link-text">Portfolio</span></a></li>

                                <li ng-class="navClass('Contact')"><a href='#Contact'><i class="fa fa-envelope fa-2x"></i><span class="navbar-link-text">Contact</span></a></li>

                            </ul>

                        </div>
                    </div>

                </div>
            </nav>

        </header>
        <!--End of Navigation Bar -->