


<!--Beginning of the Portfolio Section -->

<section id="Portfolio">
    
              
          <!-- Page Content -->
    <div class="container wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">

       
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                   
                </h1>
            </div>
        </div>
        <!-- /.row -->


        <!-- Projects -->
        <div dir-paginate="project in projects|itemsPerPage: 2">
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive img-thumbnail" ng-src={{project.image}} alt="">
                </a>
                <hr />
            </div>
            <div class="col-md-5">
                <h4 class="orange-text">{{project.title}}</h4>
                <p><span ng-repeat="skill in project.technology"><span class="label label-default" >{{skill}}</span> </span> </p>
                   
               
                <p class="text-justify"> {{project.description}}</p>
                <a class="btn btn-success" ng-href={{project.link}}>{{project.linkTitle}} <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        
        </div>

      


        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

                            

    
    
</section>