<!--Start of Skills Section   -->
    
    <section id="Skills">
                                                    <div class="container-fluid">
                                                        <div class="col-sm-2 col-md-1 col-lg-3"></div>
                                                        <div class="col-sm-8 col-md-10 col-lg-6">
                                                            <p>&nbsp;</p>
                                                            <table class="table table-striped table-hover wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="label label-default">Programming Languages:</span>
                                                                        </td>
                                                                        <td>
                                                                            Java,Java EE(JSP,Servlets,JSTL,EL,POJO/Beans), C, C++, C#,PHP, JavaScript
                                                                        </td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="label label-success">Environments:</span>
                                                                        </td>
                                                                        <td>
                                                                            Windows 9x/NT/2K/XP/7/8, UNIX, MS-DOS,MacOs,Android,iOS
                                                                        </td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="label label-primary">Cellular Network:</span>
                                                                        </td>
                                                                        <td>
                                                                            GSM, GPRS, EDGE, HSPA, UMTS,LTE,LTE Max
                                                                        </td>
            
                                                                    </tr>
            
                                                                    <tr>
                                                                        <td><span class="label label-info"> Front-End: </span></td>
                                                                        <td>
                                                                            HTML4/5 , CSS,AjaxJSon, Responsive Design, Bootstrap,Less,Sass
                                                                        </td>
            
                                                                    </tr>
            
                                                                    <tr>
                                                                        <td><span class="label label-danger"> Database Systems: </span></td>
                                                                        <td>Oracle, Microsoft Access, MySQL, MS SQL Server</td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span class="label label-warning"> Frameworks:</span></td>
                                                                        <td>Struts , Spring core,Spring MVC,Hibernate,Angular JS ,jQuery,Android SDK</td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span class="label label-default"> Development Tools:</span></td>
                                                                        <td>Eclipse,Netbean,Maven,Git,MySQL Workbench,Photoshop,Edit Plus,Aptana Studio,Firebug</td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span class="label label-success">Methodologies: </span></td>
                                                                        <td>Agile Scrum,TDD,XP,UML,Waterfall</td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span class="label label-primary"> Application Servers:</span></td>
                                                                        <td>JBoss AS,Apache tomcat ;SUN GlassFish 3.0/3.1 Enterprise; IIS</td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span class="label label-info"> Web Services: </span></td>
                                                                        <td>XML, SOAP,REST  JAX-WS,JAX-RS, AND WSDL</td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span class="label label-danger">Testing: </span></td>
                                                                        <td>Junit,Karma,Jasmine</td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span class="label label-warning">Content Management: </span></td>
                                                                        <td>Joomla,Wordpress,MODX,Documentum</td>
            
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span class="label label-default">Documentum Platform
                                                                                 :</span></td>
                                                                        <td>Content Server, Application Builder,Workflow Manager, Developer Studio,DFC,DQL,API,Documentum Web Development Kit (WDK) Webtop,Web Publisher</td>
            
                                                                    </tr>
                                                                </tbody>
            
                                                            </table>
            
                                                        </div>
                                                        <div class="col-sm-2 col-md-1 col-lg-3"></div>
                                                    </div>
            
                                                </section>

    <!--End of Skills Section -->