        <!--Start of About Section    -->
        <section id="About">
            <div class="container-fluid">
                <div class="row titleWrapper wow bounceInDown " >
                    <div class="col-sm-12 text-center" >
                        <div class="titleText"><span>Software Developer</span></div>
                       
                        <div class="btn btn-success green nameText"><span>Tahmina Khan</span></div>
                    </div>
                </div>

            </div>
            <!--                    <div class="container-fluid" style="">
                    
                                                    <div class="row">
                                                        <div class="col-sm-3"></div> 
                                                        <div class="col-sm-6">
                                                            <h1> <span class="green-text"> Software Developer</span></h1>
                                                            <h4> <span class="blue-text">Tahmina Khan</span> </h4>
                                                        </div>
                                                    <div class="col-sm-3"></div>
                                                    </div>
                                                    <div class="jumbotron">
                                                        
                                                       <h1> <span class="green-text"> Software Developer</span></h1>
                                                            <h2> <span class="blue-text">Tahmina Khan</span> </h2>
                                                    </div>
                    
                                    <div class="row" style="">
                                        <div class="container-fluid">
                                        <div class="col-sm-12 text-center fill-screen" style="background-image: url('./images/desktop01.png')">
                                            <h1><span class="orange-text">Software Developer</span></h1>
                                            <h3>Tahmina Khan</h3>
                                        </div>
                                    
                                        
                                    </div>-->
          <div class="container-fluid">
                <div class="row" style="">
                    <div class="col-sm-2 col-md-3"></div>
                    <div class="col-sm-8 col-md-6" style="" >

                        <p>&nbsp;</p>
                        <p class="text-justify wow fadeIn animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">

                            Solutions-oriented <strong>Software Developer</strong> with education and related experience in the design and development of software and Web applications utilizing an array of technologies. 

                        </p>

                        <p class="text-justify wow fadeIn animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s"><i class="fa fa-crosshairs orange-text"></i> Skilled in a diversity of tools, languages and methodologies, with proven talent for quickly learning new information, procedures, and technologies</p>
                        <p class="text-justify wow fadeIn animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s"><i class="fa fa-crosshairs green-text"></i> Adaptable and proficient in the design and programming of systems in wide variety of areas

                        </p>

                        <p class="text-justify wow fadeIn animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s"><i class="fa fa-crosshairs yellow-text"></i> Solid experience in the hands-on performance of all phases of Software Development Life Cycle (SDLC) in real-world environments</p>

                    </div>

                    <div class="col-sm-2 col-md-3">

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!--End of About Section -->
